.carrito{
    display: flex;
    height: 25px;
   width: 25px;
   background-image: url(../../../img/shopping-cart.png);
   background-size: cover;
   background-position: center;
   padding: 10px;
   margin: auto;
}
